/* Estilo general */

#Slider p{text-align: center;}

/* En este archivo va todo el código css que le da estilo unicamente al slider en si y a los elementos que
se encuentran adentro de el */

#Slider{
	position: absolute;
	top: 10%;
	width: 100%;
	height: 55%; 
}

#Slider > #ImagenesSlider{
	height: 100%;
	width: 100%;
}

#Slider > #ImagenesSlider > ul > li{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

#Slider > #ImagenesSlider > ul > li > .ContenidoImagen{
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}


.ContenidoImagen > div{
	background: rgba(255,255,255,.5);
	height: 44%;
	width: 14.5em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	padding: .2em;
	box-sizing: border-box;
}

#ImagenesSlider > ul > li:first-child .TextoImagen{
	width: 80%;
	background: #fff;
}

.ContenidoImagen > div > figure{
	border:solid #021EAB .2em;
	box-sizing: border-box;
	border-radius: 10%;
	width: 7em;
	height: 7em;
	padding: .3em;
	background: #FFF;
}

.ContenidoImagen > a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4.94em;
	width: 4em;
	background: #fff;
	color: #000;
	transition: background 500ms ease-out;
}


.ContenidoImagen > a:hover{
	background: #C96800;
	color: #fff;
	transition: background 500ms ease-out;
}

#BotonesSlider{
	width: 100%;
	height: 2.47em;
	margin: auto;
	background: #F7E300;
}

#BotonesSlider > ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	list-style: none;
}

.Boton{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.2em;
	height: 2.2em;
	border-radius: 100%;
	border: solid 0.093em #9C9C9C;
	overflow: hidden;
	opacity: .50;
	transition: all 500ms ease-out;
	box-sizing: border-box;
}

.Boton > span{
	display: block;
	background: #9c9c9c;
	height: 100%;
	width: 100%;
	top: 50%;
	border-radius: 100%;
	transition: all 500ms ease-out;
}

@media only screen and (min-width: 450px){
	#Slider{
		height: 60%;
	}
}

@media only screen and (min-width: 550px){
	#ImagenesSlider > ul > li:first-child .TextoImagen{
		width: 27.5em;
	}
}

@media only screen and (min-width: 600px){
	#Slider{
		height: 73%;
	}

	#BotonesSlider{
		position: absolute;
		bottom: 0;
		width: 50%;
		right: 0;
		background: rgba(247,227,0,.5);
	}
}

@media only screen and (min-width: 900px){
	.ContenidoImagen > div{
		width: 18em;
	}
}

@media only screen and (min-width: 1200px){
	.ContenidoImagen > div{
		width: 20em;
	}
}